# frozen_string_literal: true

RSpec.describe <%= config[:constant_name] %> do
  it "has a version number" do
    expect(<%= config[:constant_name] %>::VERSION).not_to be nil
  end

  it "does something useful" do
    <%- if config[:rust] -%>
    expect(<%= config[:constant_name] %>.hello("fellow rustacean")).to eq("Hello from Rust, sea creature!")
    <%- else -%>
    expect(false).to eq(true)
    <%- end -%>
  end
end
