---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - "\"991ee99262947c03331a92f5daca654c\""
    body:
      encoding: UTF-8
      string: "{\"name\":\"rails\",\"downloads\":32030748,\"version\":\"4.0.2\",\"version_downloads\":521833,\"platform\":\"ruby\",\"authors\":\"David
        Heinemeier Hansson\",\"info\":\"Ruby on Rails is a full-stack web framework
        optimized for programmer happiness and sustainable productivity. It encourages
        beautiful code by favoring convention over configuration.\",\"licenses\":[\"MIT\"],\"project_uri\":\"http://rubygems.org/gems/rails\",\"gem_uri\":\"http://rubygems.org/gems/rails-4.0.2.gem\",\"homepage_uri\":\"http://www.rubyonrails.org\",\"wiki_uri\":\"http://wiki.rubyonrails.org\",\"documentation_uri\":\"http://api.rubyonrails.org\",\"mailing_list_uri\":\"http://groups.google.com/group/rubyonrails-talk\",\"source_code_uri\":\"http://github.com/rails/rails\",\"bug_tracker_uri\":\"http://github.com/rails/rails/issues\",\"dependencies\":{\"development\":[],\"runtime\":[{\"name\":\"actionmailer\",\"requirements\":\"=
        4.0.2\"},{\"name\":\"actionpack\",\"requirements\":\"= 4.0.2\"},{\"name\":\"activerecord\",\"requirements\":\"=
        4.0.2\"},{\"name\":\"activesupport\",\"requirements\":\"= 4.0.2\"},{\"name\":\"bundler\",\"requirements\":\"<
        2.0, >= 1.3.0\"},{\"name\":\"railties\",\"requirements\":\"= 4.0.2\"},{\"name\":\"sprockets-rails\",\"requirements\":\"~>
        2.0.0\"}]}}"
  recorded_at: Tue, 11 Feb 2014 15:53:58 GMT
recorded_with: VCR 2.8.0
