# frozen_string_literal: true

require "mkmf"
<% if config[:rust] -%>
require "rb_sys/mkmf"

create_rust_makefile(<%= config[:makefile_path].inspect %>)
<% else -%>

create_makefile(<%= config[:makefile_path].inspect %>)
<% end -%>
