name: jruby-bundler

on:
  pull_request:

  push:
    branches:
      - master
      - 3.3

concurrency:
  group: ci-${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  jruby_bundler:
    name: Bundler (JRuby)
    runs-on: ubuntu-20.04

    env:
      RGV: ..

    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0
      - name: Setup ruby
        uses: ruby/setup-ruby@de6f5b9c340068d049670c6b6ae8dc94cff4667a # v1.125.0
        with:
          ruby-version: jruby-9.3.9.0
          bundler: none
      - name: Prepare dependencies
        run: |
          bin/rake spec:parallel_deps
        working-directory: ./bundler
      - name: Run Test
        run: |
          bin/parallel_rspec --tag jruby_only --tag jruby
        working-directory: ./bundler
      - name: Install local bundler
        run: |
          bin/rake install:local
        working-directory: ./bundler
      - name: Run a warbler project
        run: |
          cd spec/realworld/fixtures/warbler
          bundle install
          bundle exec warble
          java -jar warbler.jar
        working-directory: ./bundler
