name: jruby-bundler

on:
  pull_request:

  push:
    branches:
      - master
      - 3.3

concurrency:
  group: ci-${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  jruby_bundler:
    name: Bundler (JRuby)
    runs-on: ubuntu-20.04

    env:
      RGV: ..

    steps:
      - uses: actions/checkout@v3
      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: jruby-9.3.4.0
          bundler: none
      - name: Prepare dependencies
        run: |
          rake spec:parallel_deps
        working-directory: ./bundler
      - name: Run Test
        run: |
          bin/parallel_rspec --tag jruby
        working-directory: ./bundler
      - name: Install local bundler
        run: |
          bin/rake install:local
        working-directory: ./bundler
      - name: Run a warbler project
        run: |
          cd spec/realworld/fixtures/warbler
          bundle install
          bundle exec warble
          java -jar warbler.jar
        working-directory: ./bundler
