name: jruby-bundler

on:
  pull_request:

  push:
    branches:
      - 3.5

concurrency:
  group: ci-${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

defaults:
  run:
    shell: bash

jobs:
  jruby_bundler:
    name: Bundler on JRuby (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    env:
      RGV: ..

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, windows-2022]

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Setup ruby
        uses: ruby/setup-ruby@af848b40be8bb463a751551a1180d74782ba8a72 # v1.162.0
        with:
          ruby-version: jruby-9.4.2.0
          bundler: none
      - name: Setup java
        uses: actions/setup-java@387ac29b308b003ca37ba93a6cab5eb57c8f5f93 # v4.0.0
        with:
          distribution: temurin
          java-version: 19.0.2
        if: "!startsWith(matrix.os.name, 'ubuntu')"
      - name: Prepare dependencies
        run: |
          bin/rake spec:parallel_deps
      - name: Run Test
        run: |
          bin/parallel_rspec --tag jruby_only --tag jruby
        working-directory: ./bundler
        if: startsWith(matrix.os.name, 'ubuntu')
      - name: Install local bundler
        run: |
          bin/rake bundler:install:local
        if: startsWith(matrix.os.name, 'ubuntu')
      - name: Run a warbler project
        run: |
          cd spec/realworld/fixtures/warbler
          bundle install
          bundle exec warble
          java -jar warbler.jar
        if: startsWith(matrix.os.name, 'ubuntu')
